.image-credit {
    padding: 0;
}
.image-byline {
    font-style: italic;
}
.post-thumbnail figcaption.image-credit {
    text-align: right;
    margin-right: 6px;
}
.post-thumbnail .image-byline a {
    display: inline-block;
}
.no-credit .image-credit {
    visibility: collapse;
}
.no-credit .image-credit .image-caption {
    visibility: visible;
}
.no-caption .image-caption {
    display: none;
}
