.image-credit {
    padding: 0;
}
.image-credit-separator::before {
    content: ', ';
}
.image-byline {
    font-style: italic;
}
figcaption.featured-image-credit {
    text-align: right;
    margin-right: 6px;
}
figcaption.featured-image-credit a.image-byline-link {
    display: inline-block;
}
.no-credit .image-credit {
    visibility: collapse;
}
.no-credit .image-credit .image-caption {
    visibility: visible;
}
.no-caption .image-caption {
    display: none;
}
