.image-credit {
    padding: 0;
    font-size: 12px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.image-caption {
    font-weight: bold;
}
.image-byline {
    color: #929292;
    font-style: italic;
}
.no-credit .image-credit {
    visibility: collapse;
}
.no-credit .image-credit .image-caption {
    visibility: visible;
}
.no-caption .image-caption {
    display: none;
}
